.d-flex{
    margin: 0;
    background-color: #409efc;
}
.btn{
    width:200px;
    padding:12px;
    font-size:25px;
    
}
.admin{
    background-color: white;
    text-align: center;
    font-size: 50px;
    height: 250px;
}

img{
    height: 100px;
    position: absolute;
    top: 15px;
    left: 20px;
    border-radius: 10px;
  }